@charset "UTF-8";

body{
	margin: 0;
}

#bbb_left {
position:relative;
float:left;
width:222px;
min-height:300px;
z-index:0;
top:200px;
}
#menu_wrapper {
border:1px solid #ddd;
}

.m-unit + .m-unit {
border-top:1px solid #e5e5e5;
}
.m-unit-title {
position:relative;
height:46px;
padding:1px;

}
.m-unit-title > button {
position:relative;
float:left;
width:100%;
height:46px;
line-height:46px;
text-align:left;
text-indent:12px;
z-index:1;
font-family: 맑은 고딕;
font-size: 20px;
}
.m-unit-body1 {
border-top:1px solid #e5e5e5;
}
.m-unit-body1 ul {
display:block;
list-style:none;
padding:15px 0 15px 32px;
margin:0;
line-height: 40px;
}
.m-unit-body1 li a {
	text-decoration: none;
	color: #000;
	font-family: 맑은 고딕;
}

.m-unit-body1 li:hover > a{
color:#0598e0;
text-decoration: none;
}
.m-unit-body2 {
border-top:1px solid #e5e5e5;
}
.m-unit-body2 ul {
display:block;
list-style:none;
padding:15px 0 15px 32px;
margin:0;
line-height: 40px;
}
.m-unit-body2 li a {
	text-decoration: none;
	color: #000;
	font-family: 맑은 고딕;
}

.m-unit-body2 li:hover > a{
color:#0598e0;
text-decoration: none;
}
.m-unit-body3 {
border-top:1px solid #e5e5e5;
}
.m-unit-body3 ul {
display:block;
list-style:none;
padding:15px 0 15px 32px;
margin:0;
line-height: 40px;
}
.m-unit-body3 li a {
	text-decoration: none;
	color: #000;
	font-family: 맑은 고딕;
}

.m-unit-body3 li:hover > a{
color:#0598e0;
text-decoration: none;
}
.m-unit-body4 {
border-top:1px solid #e5e5e5;
}
.m-unit-body4 ul {
display:block;
list-style:none;
padding:15px 0 15px 32px;
margin:0;
line-height: 40px;
}
.m-unit-body4 li a {
	text-decoration: none;
	color: #000;
	font-family: 맑은 고딕;
}

.m-unit-body4 li:hover > a{
color:#0598e0;
text-decoration: none;
}


.m-bullet {
position:absolute;
top:9px;
left:-11px;
width:4px;
height:4px;
border-radius:100%;
background-color:#ccc;

}
.m-unit-body1 li:hover .m-bullet,
.m-unit-body1 li.selected .m-bullet {
background-color:#0598e0;
}
.m-unit-body2 li:hover .m-bullet,
.m-unit-body2 li.selected .m-bullet {
background-color:#0598e0;
}
.m-unit-body3 li:hover .m-bullet,
.m-unit-body3 li.selected .m-bullet {
background-color:#0598e0;
}
.m-unit-body4 li:hover .m-bullet,
.m-unit-body4 li.selected .m-bullet {
background-color:#0598e0;
}

.m-unit.on .m-unit-title > button,
.m-unit-title > button:hover {
font-weight:700;
color:#000;
}

#bbb_right {
    position: relative;
    float: left;
    width: 738px;
    height: 70em;
    padding-left: 40px;
}