@charset "UTF-8";
	@font-face {
	    font-family: 'Cafe24Ssurround';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
    @media(max-width:1700px){
     #header_area {
        width: 100%;
	    height: 6.5em;
	    top: 0;
	    left: 0;
	    right: 0;
	    background-color: #eaeaff;
	    border-bottom: 0.5px solid #efefef;
	    z-index: 3;
        font-size: 15px;
        }
        #colorss{
            width: -100%;
            height: 20px;
            background-color: #fff;
            position: relative;
            top: -12px;
            height: 59px;
        }
    }
     @media(max-width:1600px) {
     #header_area {
        width: 100%;
	    height: 6.5em;
	    top: 0;
	    left: 0;
	    right: 0;
	    background-color: #eaeaff;
	    border-bottom: 0.5px solid #efefef;
	    z-index: 3;
        font-size: 14px;
        }
        #colorss{
            width: -100%;
            height: 20px;
            background-color: #fff;
            position: relative;
            top: -17px;
            height: 59px;
        }
    } 
    @media(max-width:1480px) {
     #header_area {
        width: 100%;
	    height: 6.5em;
	    top: 0;
	    left: 0;
	    right: 0;
	    background-color: #eaeaff;
	    border-bottom: 0.5px solid #efefef;
	    z-index: 3;
        font-size: 13px;
        }
        #colorss{
            width: -100%;
            height: 20px;
            background-color: #fff;
            position: relative;
            top: -22px;
            height: 59px;
        }
    } 
    @media(max-width:1400px) {
     #header_area {
        width: 100%;
	    height: 6.5em;
	    top: 0;
	    left: 0;
	    right: 0;
	    background-color: #eaeaff;
	    border-bottom: 0.5px solid #efefef;
	    z-index: 3;
        font-size: 12px;
        }
        #colorss{
            width: -100%;
            height: 20px;
            background-color: #fff;
            position: relative;
            top: -27px;
            height: 59px;
        }
    } 
    @media(max-width:1270px) {
     #header_area {
        width: 100%;
	    height: 6.5em;
	    top: 0;
	    left: 0;
	    right: 0;
	    background-color: #eaeaff;
	    border-bottom: 0.5px solid #efefef;
	    z-index: 3;
        font-size: 11px;
        }
        #colorss{
            width: -100%;
            height: 20px;
            background-color: #fff;
            position: relative;
            top: -33px;
            height: 59px;
        }
    } 
    @media(max-width:1170px) {
     #header_area {
        width: 100%;
	    height: 6.5em;
	    top: 0;
	    left: 0;
	    right: 0;
	    background-color: #eaeaff;
	    border-bottom: 0.5px solid #efefef;
	    z-index: 3;
        font-size: 10px;
        }
        #colorss{
            width: -100%;
            height: 20px;
            background-color: #fff;
            position: relative;
            top: -39px;
            height: 59px;
        }
    } 
    @media(max-width:1070px) {
     #header_area {
        width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    right: 0;
	    background-color: #eaeaff;
	    border-bottom: 0.5px solid #efefef;
	    z-index: 3;
        font-size: 9px;
        }
        #colorss{
            width: -100%;
            height: 20px;
            background-color: #fff;
            position: relative;
            top: -47px;
            height: 59px;
        }
        
    } 
    @media(max-width:970px) {
     #header_area {
        width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    right: 0;
	    background-color: #eaeaff;
	    border-bottom: 0.5px solid #efefef;
	    z-index: 3;
        font-size: 8px;
        }
        #colorss{
            width: -100%;
            height: 20px;
            background-color: #fff;
            position: relative;
            top: -53px;
            height: 59px;
        }
        
    } 
    @media(max-width:875px) and (max-width:0px) {
     #header_area {
        width: 100%;
	   
	    top: 0;
	    left: 0;
	    right: 0;
	    background-color: #eaeaff;
	    border-bottom: 0.5px solid #efefef;
	    z-index: 3;
        font-size: 7px;
        }
        header{
            height: 20px;
        }
        #colorss{
            width: -100%;
            height: 20px;
            background-color: #fff;
            position: relative;
            top: -59px;
            height: 59px;
        }
        
    } 
    
	a{
	text-decoration: none;
	color: #3A2F2F;
	}
	
	header{
		position: fixed;
	    width: 100%;
	    height: 6.5em;
	    top: 0;
	    left: 0;
	    right: 0;
	    background-color: #eaeaff;
	    border-bottom: 0.5px solid #efefef;
	    z-index: 3;
	}
	#header_area{
		height: 100%;
		display: flex;
	}
	#title{
		font-family: 'Cafe24Ssurround';
	    font-size: 2.5em;
	    margin: 0.8em 0 1em 6em;
	}
	#title a{
		text-decoration: none;
		color: #3A2F2F;
	}
	#right_m{
		display: inline-block;
	    margin: 3em 0 1em 40em;
	    font-family: 'Noto Sans KR','Roboto', sans-serif;
	}
	#right_m a{
		font-family: 'Noto Sans KR','Roboto', sans-serif;
		flex-basis: auto;
		color: #3A2F2F;
		font-weight: bold;
		font-size: 1em;
		text-decoration: none;
		margin-right: 1em;
	}

	#left_m{
		margin: 4em;
	    display: inline-block;
	    font-family: 'Noto Sans KR','Roboto', sans-serif;
	}
	#left_m a{
		flex-basis: auto;
		color: #3A2F2F;
		font-weight: bold;
		font-size: 1.3em;
		text-decoration: none;
		margin-right: 1.5em;
	}
	#right_m a:hover,
	#left_m a:hover {color: #47AAD7;}
	