@charset "UTF-8";
#wrap{
		width: 100%;
		height: 100%;
	}
	#bbs_area{
		margin: 0 auto;
		width: 60%;
	}
	#category_area{
		margin-top: 100px;
		border: 0.6px solid #efefef;
		padding: 2.3em;
		margin-bottom: 2.3em;
		text-align: center;
		font-family: 'Noto Sans KR','Roboto', sans-serif;
		display: flex;
		justify-content: space-between;
		margin-left: 2%;
	}
	#category_area a{
		width: 1em;
		color: #94969b;
		font-size: 1em;
		font-weight: 350;
		flex: auto;
		transition-property:color;
		transition-duration:0.2s;
	}
	#category_area a:nth-child(1){
		color: #3A2F2F;
	}
	#category_area a:hover{color: #3A2F2F;}
	#bbs_b_area{
		margin: 0 auto;
		padding: 2%;
		width: 90%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.bbs{
		cursor: pointer;
		width: 450px;
		height: 251px;
		border: 0.7px solid #ababab;
		padding: 1em;
		margin-bottom: 3em;
		
		transform: translate(0, 0px);
		transition-property:transform;
		transition-duration:0.3s;
	}
	.bbs:hover{
		transform: translate(0, -4px);
		box-shadow: 2px 3px 15px rgb(0 0 0 / 15%)
	}
	.bbs div span{
		font-family: 'Noto Sans KR','Roboto', sans-serif;
		color: #94969b;
	}
	#bbs_title{
		width: 90%;
		height: 10%;
	}
	#bbs_title span{
		font-family: 'Noto Sans KR','Roboto', sans-serif;
		font-size: 1.2em;
		font-weight: 450;
	}
	#bbs_content{
		text-overflow: ellipsis;
		overflow: hidden;
		-webkit-line-clamp: 1; /* ellipsis line */
		margin: 1em 1em 4em;
		width: 90%;
		height: 35%;
	}
	#bbs_content span{
		font-family: 'Noto Sans KR','Roboto', sans-serif;
		font-size: 1.0em;
		font-weight: 400;
	}#bbs_writer{
		margin: 1em 0 0.5em;
		height: 10%;
	}
	#bbs_writer span{
		font-family: 'Noto Sans KR','Roboto', sans-serif;
		font-size: 1em;
	}
	#bbs_prop{
		display: inline-block;
	}
	#bbs_prop span{
		font-family: 'Noto Sans KR','Roboto', sans-serif;
		font-size: 0.8em;
	}
	#bbs_date{
		z-index: 1;
		float: right;
		height: 10%;
	}
	#bbs_date span{
		font-family: 'Noto Sans KR','Roboto', sans-serif;
		font-size: 0.8em;
	}
	#menu_area{
		width: 100%;
		height: 3%;
		padding: 0.2em;
	}
	#menu_panel{
		font-family: 'Noto Sans KR','Roboto', sans-serif;
		float: right;
		text-align: center;
		line-height: 50px;
		width: 5em;
		height:	100%; 
		font-size: 1em;
		background-color: #ffa500;
		border: 1px solid #efefef;
		border-radius: 5px;
	}
	#menu_panel:hover {
		background-color: #ed9a03;
	}
	#paging_area{
		margin: 0 auto;
		font-size: 12px;
	}