@charset "UTF-8";
	@font-face {
	    font-family: 'Cafe24Ssurround';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
	a{
	text-decoration: none;
	color: #3A2F2F;
	}
	
	#wrap{
		width: 100%;
		height: 100%;
		background: #FFFFFF;
	}
	#main_content{
		display: block;
		margin: 0 auto;
		width: 63em;
		text-align: center;
	}
	
	#main_content #search_area span{
		margin: 0 auto;
		width: 600px;
		height: 47px;
		font-family: 'Noto Sans KR','Roboto', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 47px;
		color: #3A2F2F;
		}
	#main_content #search{
		padding-left: 10px;
		margin: 50px 0 0;
		width: 560px;
		height: 60px;
		font-size: 20px;
		font-weight: 300;
		font-family: 'Noto Sans KR','Roboto', sans-serif;
		color: #3A2F2F;
	}
	#search_area{
		width: 100%;
		margin: 15em 0 5em 0;
	}
	#sub_content{
		display: block;
		margin: 0 auto;
	}
	#sub_content #pop_tr{
		
	}
	#sub_content #beli_tr{
		margin: 0 auto;
	}
	#sub_content #pop_ct{
		margin: 0 auto;
		width: 65%;
	}
	#bot_category{
	}
	#pop_area{
		margin: 8em auto;
		width: 65%;
		height: 50%;
		flex-direction: row;
		justify-content: space-between;
		background: #FFFFFF;
		border: 1px solid #efefef;
		
	}
	#pop_area .tr{
		height: 20em;
		color: #3A2F2F;
		margin: 1em;
		box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
		transform: translate(0, 0px);
		transition-property:transform;
		transition-duration:0.3s;
	}
	#pop_area a:hover{
		transform: translate(0, -4px);
		box-shadow: 2px 3px 15px rgb(0 0 0 / 15%)
	}
	
	#tr_text_box{
		width: 100%;
		height: 30%;
		overflow: hidden;
  		padding: 0.4em;
	}
	.tr span,
	.tr p{
		color: #3A2F2F;
		font-family: 'Noto Sans KR','Roboto', sans-serif;
   		width: 95%;
		margin: 0;
	}
	#tr_text_box div{
		display: inline-block;
		margin: 0 auto;
		width: 90%;
	}
	.tr_title{
		font-size: 0.8em;
		font-weight: 400;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
	    height: 27%;
	}
	.tr_addr{
		font-size: 0.7em;
		color: #ddd;
		font-weight: 300;
		overflow:hidden;
		width: 100%;
		text-overflow:ellipsis;
		white-space:nowrap;
	    height: 20%;
	}
	.tr_name{
	    height: 24%;
		font-size: 0.9em;
		font-weight: 500;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
	}
	.tr_img_box{
		width: 100%;
		height: 70%;
	}
	
	#pop_text{
		padding: 1em 0 0 1.2em;
	}
	#pop_text span{
		font-family: 'Noto Sans KR','Roboto', sans-serif;
		font-weight: 600;
		font-size: 1.5em;
		color: #3A2F2F;
	}
	#ct_top_text{
		margin: 54px 62px 0;
		font-weight: bold;
		font-size: 30px;
	}
	#ct_top_category ol:nth-child(1){
		display: flex; 
		list-style: none; 
		justify-content: space-between; 
		margin-bottom: 55px;
	}
	#ct_top_category ol:nth-child(2){
		display: flex; 
		list-style: none; 
		justify-content: space-between; 
	}
	#ct_top_category ol li{
		width: 240px; 
		height: 80px;
		background: #EFEFEF;
		border-radius: 6px;
		text-align: center;
		font-weight: 600;
		font-size: 20px;
		font: #3A2F2F;
		line-height: 80px;
	}
	#input_area{
		margin: 0 auto;
		vertical-align: middle;
	  	white-space: nowrap;
	  	position: relative;	
	}
	#input_area img{
		position: absolute;
		  top: 50%;
		  right: 237px;
		  margin-left: 17px;
		  margin-top: 12px;
		  z-index: 1;
		  color: #4f5b66;
	}
	#ct_top_category ol li{
		cursor: pointer;
	}