@charset "UTF-8";

.tableArea03 {
    border-top: 2px #727476 solid;
    position: relative;
    left: 400px;
    top: 200px;
}

.commentBox {
    margin-top: 20px;
    min-height: 200px;
    padding: 30px 20px 30px 125px;
    border: 3px solid #e7e9f0;
    text-align: left;
    position: relative;
    left: 3px;
    top: 10px;
}

.content{
	font-size: 30px;
	font-family: sans-serif;
	position: relative;
	left: 280px;
	top: -50px;
	
}

.content1{
	font-size: 30px;
	font-family: sans-serif;
	position: relative;
	left: 250px;
	top: -50px;
}

.commentBox .content-ex{
	font-family: sans-serif;
	font-size: 30px;
	position: relative;
	top: 30px;
	left: 120px;
	
}

.commentBox .content-ex2{
	font-family: sans-serif;
	font-size: 30px;
	position: relative;
	top: 30px;
	left: 160px;
}

ol, ul {
    list-style: none;
}

.tableArea03 > ul > li {
    border-bottom: 1px #e2e2e4 solid;
}

.tableArea03 > ul > li .titleSection {
    position: relative;
    cursor: pointer;
}

.tableArea03 > ul > li .titleSection > .titleBox > .titleList {
    overflow: hidden;
}

.tableArea03 > ul > li .titleSection > .titleBox > .titleList > li {
    position: relative;
    float: left;
    font-size: 14px;
    color: #727476;
    padding-right: 16px;
}

html, span,  h1, h2, h3, h4, h5, h6, p,  a, font, strong, ol, ul, li, form, label, table, caption, header{
    margin: 0;
    padding: 0;
    border: 0;
    line-height: inherit;
    box-sizing: border-box;
}

.divTableArea06.ty2 {
    padding: 30px;
    background: #fbfbfb;
}
.divTableArea06.ty2 .divTable {
    border-top: 1px #e2e2e4 solid;
    background: #fff;
}

.divTableArea06 .divTable > li {
    border-bottom: 1px #e2e2e4 solid;
}

.divTableArea06 .divTable .tit {
    display: table-cell;
    vertical-align: middle;
    width: 210px;
    font-size: 14px;
    color: #222;
    background: #f0f0f2;
    padding: 20px 0 20px 30px;
}

.divTableArea06 .divTable > li {
    border-bottom: 1px #e2e2e4 solid;
}