@charset "UTF-8";

	#footer{
		/* position: relative;
		top: 1500px; */
		left: 0;
		bottom: 0;
		border-top: 0.7px solid #efefef;
		padding: 20px;
		margin-top: 3em;
	}
	#foot_menu ol{
		margin: 0 auto;
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		border-bottom: 1px solid #efefef;
		width: 60%;
		height: 100px;
	}
	#foot_menu{
		height: 0;
	}
	#foot_menu ol li{
		list-style: none;
		font-size: 12px;
		color: #777;
	}
	#f_text_box{
		margin: 0 auto;
		text-align: center;
		width: 600px;
		font-size: 12px;
		color: #999999;
	}

#bbb_right {
    float: left;
    position: relative;
    left: 400px;
    top: 200px;
    width: 800px;
    height: 70em;

}

.tableArea03 {
    border-top: 2px #727476 solid;

   position: relative;
   top: 100px;
   
}
.commentBox {
    margin-top: 20px;
    min-height: 200px;
    padding: 30px 20px 30px 125px;
    border: 3px solid #e7e9f0;
    text-align: left;
   
}

.commentBox .content-ex{
	font-family: sans-serif;
	font-size: 30px;
	position: relative;
	left: 180px;
}
.commentBox .content-ex1{
	font-family: sans-serif;
	font-size: 30px;
	position: relative;
	left: 200px;
}

.commentBox .content-ex2{
	font-family: sans-serif;
	font-size: 30px;
	position: relative;
	left: 160px;
}
.commentBox .content-ex3{
	font-family: sans-serif;
	font-size: 30px;
	position: relative;
	left: 180px;
}
.commentBox .content-ex4{
	font-family: sans-serif;
	font-size: 30px;
	position: relative;
	left: 170px;
}

ol, ul {
    list-style: none;
}


.tableArea03 > ul > li .titleSection > .titleBox {
    padding: 14px 30px;
}

.tableArea03 > ul > li .titleSection > .titleBox > .titleList {
    overflow: hidden;
}

.tableArea03 > ul > li .titleSection > .titleBox > .titleList > li {
    float: left;
    font-size: 14px;
    color: #727476;
    padding-right: 16px;
}

 div, h3,  ol, ul, li {
    padding: 0;
    border: 0;
    line-height: inherit;
    box-sizing: border-box;
}

.divTableArea06.ty2 {
    padding: 30px;
    background: #fbfbfb;
    margin-bottom: 3em;
}
.divTableArea06.ty2 .divTable {
    border-top: 1px #e2e2e4 solid;
    background: #fff;
    
}

.divTableArea06 .divTable > li {
    border-bottom: 1px #e2e2e4 solid;
    display: flex;
}

.divTableArea06 .divTable .tit {
     display: table-cell;
    vertical-align: middle;
    width: 210px;
    font-size: 14px;
    color: #222;
    background: #f0f0f2;
    padding: 20px 0 20px 30px;
}

.divTableArea06 .divTable .txt{
	display: table-cell;
    font-size: 14px;
    color: #727476;
    line-height: 24px;
    padding: 20px;
}


#del_btn{

	background-color: #0598e0;
	color: #fff;
	cursor: pointer;
    text-align: center;
    background: #fff;
    border: 1px solid #cdcdd1;
    color: #4e4f51;
    font-size: 13px;
    line-height: 50px;
    height: 52px;
    padding: 0 33px;
    box-sizing: border-box;
    margin-left: 640px;
}


input[type=checkbox] {

-ms-transform: scale(2); /* IE */

-moz-transform: scale(2); /* FF */

-webkit-transform: scale(2); /* Safari and Chrome */

-o-transform: scale(2); /* Opera */

padding: 10px;

}
