@charset "UTF-8";

.content-title {
   position: relative;
   left: 700px;
   top: 400px;
   font-family: sans-serif;
}

.commentBox {
    margin-top: 20px;
    min-height: 200px;
    padding: 30px 20px 30px 125px;
    border: 3px solid #e7e9f0;
    text-align: left;
    position: relative;
    left: 420px;
    top: 400px;
    background: url(../img/xxx.png) no-repeat;
    background-size: 100px;
    background-position: 310px 40px;
   
}

.commentBox .content-ex{
	width: 900px;
	font-family: sans-serif;
	font-size: 13px;
	position: relative;
	top: 150px;
	left: -110px;
}
button.btnType1, a.btnType1 {
    display: inline-block;
    text-align: center;
    background: #fff;
    border: 1px solid #cdcdd1;
    color: #4e4f51;
    font-size: 13px;
    line-height: 50px;
    height: 52px;
    padding: 0 33px;
    box-sizing: border-box;
}
#anysignLink4{
	position: relative;
	top: 420px;
	left: 420px;
	cursor: pointer;
}
#anysignLink5{
	position: relative;
	top: 420px;
	left: 435px;
	cursor: pointer;
}
#anysignLink6{
	position: relative;
	top: 420px;
	left: 445px;
	background-color: #0598e0;
	color: #fff;
	cursor: pointer;
}
#anysignLink7{
	position: relative;
	top: 420px;
	left: 455px;
	cursor: pointer;
}

