
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div id="main">
	<div id="header">
		<span id="head">반가워요!</span>
		<span id="head_1">국삐 사이트를 사용하기 위해 로그인을 해주세요!</span>
		<span>국비지원 학원을 연결해주는 사이트입니다!!</span>
	</div>
	<div id="center">
		<input id="id" name="m_id" placeholder="아이디를 입력해주세요"/>
		<input id="pw" name="m_id" placeholder="비밀번호를 입력해주세요"/>
		<label for="save">
			<input type="checkbox" id="save" name="save"/> 
		아이디 저장하기
		</label>
		<div id="kakao">
			<a style="width: 100%">
				<img src="/resources/img/kakao.png"/>
			</a>
		</div>
		<div id="member">
			<a href="/"></a>
		</div>
		<div id="login">		
			<a href="/"></a>
		</div>		
	</div>
	
</div>
</body>
</html>